.input_str {
    width: 100%;
    margin-top: 15px;
}

.input_regular_expression {
    /* width: 90%;
    margin: 0 auto; */
}

.input_regular_expression_title {
    font: inherit;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.input_regular_expression summary {
    outline: none;
    height: 50px;
    line-height: 50px;
}

.example_regularExpression_explanation {
    padding: 0 20px 0 20px;
    font-size: 13px;
}

.example_regularExpression_explanation ul{
    border: solid 2px;
    border-color: #86cdd4;
}

.regularExpression_detail {
    width: 90%;
}

.regularExpression_detail p{
    display: inline;
}

.input_regular_expression summary::before {
    /* margin-right: 200px; */
}

.regular_expression_pattren_button_form button {
    font-size: 13px;
    margin: 3px;
}

.option_flag_input_form label {
    display: block;
    height: 20px;
}

.regularExpression_detail_display {
    font-size: 12px;
}

.result_form {
    width: 100%;
    margin-top: 30px;
}