.header_nav_title {
  width: 140px;
  text-align: center;
}

conten1header a {
    text-decoration: none;
}

header {
    background-color: #337079;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    position: sticky;
    top: 0;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 100px;
    height: 90px;
}
.header-nav {
    display: flex;
    background-color: #337079;
}
.nav-list {
    /* margin: 0 25px; */
    font-size: 25px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}
.nav-list:hover {
    color: tomato;
}

.twitter {
    display: none;
}

.title_button{
    background-color: #337079;
    border-width: 0px;
}

.title_button h1{
    color: white;
    white-space: nowrap;
}

.hamburger {
    display: none;
    width: 32px;
    height: auto;
    cursor: pointer;
}
.hamburger div {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 2px 5px;
    margin: 4px 0;
}
.hamburger p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#menu{
  list-style-type: none;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  /* margin-left: 20px; */
}
#menu li{
  position: relative;
  width: 40%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a{
  display: block;
  margin: 0;
  padding: 7px 0;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu li:last-child ul{
  width: 100%
}
#menu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a{
  margin-left: 0!important;
  padding: 13px 15px;
  background: #337079;
  text-align: left;
  font-weight: normal;
  font-size: 17px;
}
#menu li:hover > a{
  color: #e0dc62;
}
#menu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}

@media screen and (max-width: 600px) {
    header{
        /* ヘッダー固定 */
        position: sticky;
        top: 0;
        z-index: 2;
    }
    header .container {
        margin-left: 0px!important;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        margin: 0 100px;
        height: 82px;
    }

    .hamburger {
        display: block;
        margin-top: 20px;
    }
    .header-nav {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 0;
        width: 100%;
        height: auto;
    }
    .active {
        display: flex;
        opacity: 0.8;
    }
    .nav-list {
        /* margin: 0 20px!important; */
        margin: 0;
        text-align: center;
        margin: 20px 0;
        width: 100%;
        color: white;
        font-size: 20px;
        height: 60px;
    }

    .footer-list{
        /* margin: 0 20px!important;         */
        text-align: center;
        margin: 20px 0;
        width: 100%;
        color: white;
        font-size: 20px;
    }

    .container{
        height: auto;
    }

    .container h1{
        font-size: 2.0rem;
    }

    #menu{
        display: none!important;
    }

    #menu {
      width: 750px;
      height: 40px;
      margin: 0 auto;
      padding: 0;
      display: flex;
    }
    #menu li {
      position: relative;
      list-style: none;
    }
    #menu li a {
      display: block;
      width: 150px;
      height: 40px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 2.8;
      /* background: #9fb7d4; */
      transition: 0.5s;
      text-decoration: none;
      border-right: 1px solid #eee;
      box-sizing: border-box;
    }
    #menu > li:hover > a {/*layer-1*/
      color: orange;
      /* background: #afc6e2; */
    }
    #menu > li li:hover > a {/*layer-2*/
      color: olive;
      /* background: #afc6e2; */
    }
    #menu li ul {
      top: 40px;
      left: -40px;
      position: absolute;
    }
    #menu li ul li {
      overflow: hidden;
      height: 0;
      transition: 0.2s;
    }
    #menu li ul li a {
      border-top: 1px solid #eee;
    }
    #menu li:hover > ul > li {
      overflow: visible;
      height: 40px;
    }
      #menu li ul li ul {
        top: 0;
        left: 110px;
      }
      #menu li ul li ul:before {/*layer-2▷*/
        position: absolute;
        content: "";
        top: 15px;
        left: 30px;
        border: 5px solid transparent;
        border-left: 5px solid #fff;
      }
      #menu li ul li ul li:hover > a {/*layer-3*/
        color: pink;
        /* background: #afc6e2; */
      }
      #menu li ul li ul.left {
        top: 0;
        left: -190px;
      }
      #menu li ul li ul.left:before,/*layer-2-left▷*/
      #menu li ul li ul li ul.left:before {/*layer-3-left▷*/
        position: absolute;
        content: "";
        top: 15px;
        left: 190px;
        border: 5px solid transparent;
        border-right: 5px solid #fff;
      }
      #menu li ul li ul.left li:hover > a {/*layer-2-left*/
        color: pink;
        /* background: #afc6e2; */
      }
      #menu li ul li ul li ul.left li:hover > a {/*layer-3-left*/
        color: purple;
        /* background: #afc6e2; */
      }
    .content {
      width: 750px;
      height: 200px;
      background: #eee;
      margin: 0 auto;
      padding: 10px;
      text-align: left;
      box-sizing: border-box;
    }

    .twitter{
        display: block;
    }

}
