conten1header a {
    text-decoration: none;
}

header {
    background-color: #337079;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

header .container {
    margin-left: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* margin: 0 100px; */
    height: 90px;
}

.title_button{
    background-color: #337079;
    border-width: 0px;
}

.title_button h1{
    color: white;
    white-space: nowrap;
}

.header-nav {
    display: flex;
    background-color: #337079;
}
.nav-list {
    margin: 0 40px!important;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.nav-list:hover {
    color: tomato;
}

.hamburger {
    display: none;
    width: 32px;
    height: auto;
    cursor: pointer;
}
.hamburger div {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 2px 5px;
    margin: 4px 0;
}
.hamburger p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#menu{
  list-style-type: none;
  width: 500px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
}
#menu li{
  position: relative;
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a{
  display: block;
  margin: 0;
  padding: 7px 0;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu li:last-child ul{
  width: 100%
}
#menu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a{
  padding: 13px 15px;
  background: #337079;
  text-align: left;
  font-weight: normal;
}
#menu li:hover > a{
  color: #e0dc62;
}
#menu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}

@media screen and (max-width: 1000px) {
    header{
        /* ヘッダー固定 */
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
    }
    header .container {
        margin-left: 0px!important;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        margin: 0 100px;
        height: 82px;
    }

    .hamburger {
        display: block;
        margin-top: 20px;
    }
    .header-nav {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 0;
        width: 100%;
        height: auto;
    }
    .active {
        display: flex;
        opacity: 0.8;
    }
    .nav-list {
        text-align: center;
        margin: 0!important;
        width: 100%;
        color: white;
        font-size: 20px;
        height: 60px;
    }

    .footer-list{
        margin: 0 20px!important;
        text-align: center;
        margin: 20px 0;
        width: 100%;
        color: white;
        font-size: 20px;
    }

    .container{
        height: auto;
    }

    .container h1{
        font-size: 2.0rem;
    }

    #menu{
        display: none;
    }

}
