/* PC用 */
    .profile_title{
        margin-left: auto;
        margin-right: auto;
    }

    .profile_title p{
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .profile_title h1{
        margin-bottom: 20px;
    }

    .my_picture{
        float: left;
        text-align: center;
    }

    .my_picture img{
        width: 55%;
        height: auto;
        border-radius: 50%;
    }

    .self_introduction{
        float: right;
        text-align: center;
    }

    .self_introduction .title{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .self_introduction .sentence{
        text-align: left;
    }

    .skill_container{
        margin: 30px;
    }

    .skill_container_name{
        text-align: center;
    }

    .frame_border{
        border: 1px solid;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        background-color: white;
    }

    .skill_table{
        width:100%;
    }

    .skill_table tr{
        text-align: center;
    }

    .error_message{
        color: red;
    }

    .send_btn{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .sns_icon{
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .mail_form{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .fas{
        margin-right: 10px;
    }

/* スマホ用 */
@media screen and (max-width: 600px) {
    .frame_border{
        margin-bottom: 10px;
    }
}
